<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}
    {% include './critical.html' %}

    <script src="/assets/js/vendor/loadcss.min.js"></script>
    <script type="text/javascript">
        loadCSS('/dist/css/fonts.css');
        loadCSS('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
        loadCSS('/assets/css/src/docs.min.css');
    </script>
    <noscript>
        <link href="/dist/css/fonts.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/assets/css/src/docs.min.css" rel="stylesheet">
    </noscript>
    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

    {% block body %}{% endblock %}

    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>
